<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Insert title here</title>
    </head>
    <body>
        <form th:action="@{/anyadircliente}" th:method="POST" th:object="${nuevoCliente}">
            <input type="text" name="nombre">Nombre<br>
            <input type="text" name="apellidos">Apellidos<br>
            <input type="text" name="fechaNacimiento">Fecha de nacimiento<br>
            <input type="text" name="dni">DNI<br>
            <button type="submit" class="btn btn-primary">Añadir</button>
        </form>
    </body>
</html>