<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <form th:action="@{/buscarclienteByName}" th:method="POST">
            <input type="text" name="nombre">Nombre<br>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">dni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${clientes}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.nombre}"></td>
                    <td th:text="${c.apellidos}"></td>
                    <td th:text="${c.fechaNacimiento}"></td>
                    <td th:text="${c.dni}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
